@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #093830;

  --primary: #77d89e;
  --primary-dark: #093830;
  --accent: #f86e71;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}